$coffee: #302b27;
$rose: #c32f27;
$peach: #fecdaa;
$pebble: #e3e7d3;
$ivory: #f9f6ea;
@mixin poppinsreg {
    font-family: 'Poppins';
    font-weight: 400;
}
@mixin poppinsbold {
    font-family: 'Poppins';
    font-weight: 700;
}
@mixin epiloguereg {
    font-family: 'Epilogue';
    font-weight: 400;
}
@mixin epiloguebold {
    font-family: 'Epilogue';
    font-weight: 700;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
* {box-sizing: border-box;}
html {
    scroll-behavior: smooth;
    width: 100%;
}
body{
    background-color: $pebble;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
    //navbar
    #navbar {
        @include flex-row;
        width: 100vw;
        height: 100px;
        top: 0;
        left: 0;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        z-index: 99;
    }
    #nav_name {
        @include poppinsbold;
        font-size: 2.6em;
        text-decoration: none;
        color: $rose;
        letter-spacing: -1px;
        padding-right: 700px;
    }
    .nav_link {
        @include poppinsbold;
        font-size: 1.1em;
        text-decoration: none;
        color: $rose;
        letter-spacing: -1px;
        padding: 0 15px;
        transition: all .3s ease;
    }
    .nav_link:hover {
        color: $ivory;
        transition: all .3s ease;
    }
    #nav_menu {
        @include flex-row;
        align-items: center;
    }
    .nav_icon {
        text-decoration: none;
        padding: 0 15px;
        color: $rose;
        transition: all .3s ease;
    .nav_icon_svg:hover {
        color: $ivory;
        transition: all .3s ease;
    }
    }
    //header
    #header {
        @include flex-col;
        justify-content: center;
        align-items: center;
        height: 100vh;
        max-width: 100%;
        margin: 0 auto;
        background: $coffee url(media/loop.svg) no-repeat 20% 0%;
    }
    #header_title {
        @include epiloguereg;
        color: $ivory;
        max-width: 40%;
        text-align: center;
        font-size: 2em;
        line-height: 1.2em;
    }
    #header_links {
        @include flex-row;
        @include epiloguebold;
        font-size: 1em;
    }
    #header_link_work {
        text-decoration: none;
        color: $ivory;
        padding: 5px;
        transition: all .3s ease;
    }
    #header_link_work:hover {
        color: $rose;
        transition: all .3s ease;
    }
    #header_link_contact {
        text-decoration: none;
        color: $rose;
        padding: 5px;
        transition: all .3s ease;
    }
    #header_link_contact:hover {
        color: $ivory;
        transition: all .3s ease;
    }
    // work
    #work {
        @include flex-col;
        height: 100%;
        max-width: 100%;
        padding: 8% 0 0 5%;
    }
    #work_header {
        @include poppinsbold;
        color: $coffee;
        font-size: 1.5em;
    }
    #work_section {
        @include flex-col;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
    }
    .work_row {
        @include flex-row;
        justify-content: center;
        align-items: flex-start;
    }
    .work_post {
        cursor: pointer;
    }
    .work_image {
        display: block;
        width: 400px;
        height: auto;
        object-fit: cover;
    }
}
