$coffee: #302b27;
$rose: #c32f27;
$peach: #fecdaa;
$pebble: #e3e7d3;
$ivory: #f9f6ea;
@mixin poppinsreg {
    font-family: 'Poppins';
    font-weight: 400;
}
@mixin poppinsbold {
    font-family: 'Poppins';
    font-weight: 700;
}
@mixin epiloguereg {
    font-family: 'Epilogue';
    font-weight: 400;
}
@mixin epiloguebold {
    font-family: 'Epilogue';
    font-weight: 700;
}
html {
    scroll-behavior: smooth;
    width: 100%;
}
body{
    background-color: $pebble;
    
    #nav_name {
        @include poppinsbold;
        font-size: 3em;
        text-decoration: none;
        color: $rose;
        letter-spacing: -1px;
    }
    .nav_link {
        @include poppinsbold;
        font-size: 1.5em;
        text-decoration: none;
        color: $rose;
        letter-spacing: -1px;
    }
    .nav_icon_img {
        max-width: 20px;
    }
}
