$main: #161718;
$second: #FFBAAB;
$third: #F2EFE9;
$fourth: #FBFBFB;

@mixin poppinsreg {
    font-family: 'Poppins';
    font-weight: 400;
}
@mixin poppinsbold {
    font-family: 'Poppins';
    font-weight: 700;
}
@mixin epiloguereg {
    font-family: 'Epilogue';
    font-weight: 400;
}
@mixin epiloguebold {
    font-family: 'Epilogue';
    font-weight: 700;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
* {box-sizing: border-box;}
html {
    scroll-behavior: smooth;
    width: 100%;
}
body{
    background-color: $second;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
    //navbar
    #navbar {
        @include flex-row;
        width: 100vw;
        height: 100px;
        top: 0;
        left: 0;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        z-index: 99;
        background: $main;
    }
    #nav_name {
        @include poppinsbold;
        font-size: 2.6em;
        text-decoration: none;
        color: $second;
        padding-right: 700px;
    }
    .nav_link {
        @include poppinsbold;
        font-size: 1.1em;
        text-decoration: none;
        color: $second;
        padding: 0 15px;
        transition: all .3s ease;
    }
    .nav_link:hover {
        color: $fourth;
        transition: all .3s ease;
    }
    #nav_menu {
        @include flex-row;
        align-items: center;
    }
    .nav_icon {
        text-decoration: none;
        padding: 0 15px;
        color: $second;
        transition: all .3s ease;
    }
    .nav_icon_svg:hover {
        color: $fourth;
        transition: all .3s ease;
    }
    //header
    #header {
        @include flex-col;
        justify-content: center;
        align-items: center;
        height: 100vh;
        max-width: 100%;
        margin: 0 auto;
        background: $main url(media/blob.png) no-repeat 50% 100%;
        background-size: 100%;
        background-attachment: fixed;
    }
    #header_wrap {
        @include flex-col;
        justify-content: center;
        align-items: center;
        width: 100%;
        }
    #header_text {
        @include flex-col;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }
    #header_title {
        @include poppinsreg;
        color: $fourth;
        max-width: 40%;
        text-align: center;
        font-size: 2em;
        line-height: 1.2em;
    }
    #header_links {
        @include flex-row;
        @include poppinsbold;
        font-size: 1em;
    }
    #header_link_work {
        text-decoration: none;
        color: $fourth;
        padding: 5px;
        transition: all .3s ease;
    }
    #header_link_work:hover {
        color: $second;
        transition: all .3s ease;
    }
    #header_link_contact {
        text-decoration: none;
        color: $second;
        padding: 5px;
        transition: all .3s ease;
    }
    #header_link_contact:hover {
        color: $fourth;
        transition: all .3s ease;
    }
    #scroll_mouse{
        text-decoration: none;
        color: $second;
        margin: 5% auto 0 auto;
        width: 42px;
        transition: all .3s ease;
        animation: scroll 3s infinite linear;
    }
    @keyframes scroll {
        0% {transform: translateY(0); opacity: 0;}
        25% {transform: translateY(30px); opacity: 1;}
        75% {transform: translateY(30px); opacity: 0;}
        100% {transform: translateY(0); opacity: 0;}
    }
    #scroll_mouse:hover {
        color: $third;
        transition: all .3s ease;
    }
    // work
    #work {
        @include flex-col;
        height: 100%;
        max-width: 100%;
        padding: 8% 0 0 5%;
        background-color: $main;
    }
    #work_header {
        @include poppinsbold;
        color: $third;
        font-size: 1.5em;
    }
    #work_section {
        @include flex-col;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
    }
    .work_row {
        @include flex-row;
        justify-content: center;
        align-items: flex-start;
    }
    .work_post {
        cursor: pointer;
        position: relative;
        padding: 20px;
        margin: 0; 
    }
    .work_image {
        display: block;
        width: 400px;
        height: auto;
        object-fit: cover;
    }
    .work_overlay {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($main, $alpha: 0.7);
        position: absolute;
        opacity: 0;
        transition: all .3s ease;
    }
    .work_image_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include poppinsbold;
        color: $second;
        font-size: 1em;
        text-align: center;
        opacity: 0;
        transition: all .3s ease;
    }
    .work_post:hover .work_overlay{
        opacity: 1;
        transition: all .3s ease;
    }
    .work_post:hover .work_image_text {
        opacity: 1;
        transition: all .3s ease;
    }
    // tools 
    #tools {
        @include flex-col;
        max-width: 100%;
        justify-content: space-between;
        padding: 8% 0 0 5%;
        background: $second;
    }
    #tools_header {
        @include poppinsbold;
        color: $main;
        font-size: 1.5em;
        margin: 0;
    }
    #tools_wrap {
        @include flex-col;
        width: 1200px;
        margin: 0 auto 60px auto;
    }
    #tools_list {
        @include flex-col;
        width: 800px;
        margin: auto;
        padding: 0;
    }
    #tools_list_1, #tools_list_2 {
        @include flex-row;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
    }
    .tools_svg {
        color: $main;
    }
    // contact 
    #contact {
        @include flex-col;
        height: 80vh;
        max-width: 100%;
        justify-content: space-between;
        padding: 8% 0 0 5%;
        margin: 0;
        background: $main;
    }
    .contact_wrap {
        width: 1200px;
        margin: 0 auto;
    }
    .text_form_wrap {
        @include flex-row;
        align-items: center;
        justify-content: space-between;
    }
    #contact_header {
        @include poppinsbold;
        color: $third;
        font-size: 1.5em;
        margin: 0;
    }
    .contact_text {
        @include poppinsreg;
        font-size: 2em;
        color: $third;
        padding: 5px 0;
        margin: 0;
    }
    #contact_icons {
        @include flex-row;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        padding: 50px 0 20px 0;
    }
    .contact_svg {
        text-decoration: none;
        color: $second;
        transition: all .3s ease;
    }
    .contact_svg:hover {
        color: $third;
        transition: all .3s ease;
    }
    #contact_email {
        @include poppinsreg;
        color: $second;
        text-decoration: none;
        font-size: 1em;
        transition: all .3s ease;
    }
    #contact_email:hover {
        color: $third;
        transition: all .3s ease;
    }
    //form
    #form {
        @include flex-col;
        justify-content: space-between;
        align-items: center;
        background: $fourth;
        margin: 0;
        border-radius: 30px;
        width: 400px;
        height: 500px;
        box-shadow: 0 0 15px rgba($main, 0.5);
    }
    #form_title {
        @include poppinsbold;
        color: $main;
        font-size: 1.3em;
    }
    .input {
        @include poppinsreg;
        font-size: 0.8em;
        color: $main;
        padding: 10px;
        margin: 10px auto;
        border: none;
        border-radius: 15px;
        background: $third;
        width: 80%;
    }
    #textarea {
        @include poppinsreg;
        font-size: 0.8em;
        color: $main;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 15px;
        background: $third;
        width: 80%;
        height: 160px;
    }
    #send_btn {
        @include poppinsbold;
        font-size: 1em;
        color: $main;
        padding: 10px 25px;
        margin: 20px auto 30px auto;
        border: none;
        border-radius: 50px;
        background-color: $second;
        cursor: pointer;
        transition: all .3s ease;
    }
    #send_btn:hover {
        background-color: #FFD3B5;
        transition: all .3s ease;
    }
    // footer
    #footer {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        height: 30vh;
        width: 100%;
        background-color: $main;
        margin-top: 20em;
        padding: 0 15%;
    }
    #footer_section_1 {
        @include flex-row;
        align-items: center;
        justify-content: space-between;
    }
    #footer_name {
        @include poppinsbold;
        text-decoration: none;
        color: $third;
        font-size: 1.7em;
        margin: 0;
    }
    #footer_divider {
        border-left: 1px solid rgba($third, $alpha: 0.5);
        height: 7em;
        margin: 0 2em;
    }
    #footer_menu {
        @include flex-col;
        justify-content: space-between;
        align-items: flex-start;
    }
    #footer_menu_links {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
    }
    .footer_link,#footer_repo {
        @include poppinsreg;
        text-decoration: none;
        color: rgba($third, $alpha: 0.5);
        font-size: .9em;
        margin: .2em;
        text-decoration: none;
        transition: all .3s ease;
    }
    .footer_link:hover {
        color: $third;
        transition: all .3s ease;
    }
    #footer_repo:hover {
        color: $third;
        transition: all .3s ease;
    }
    #footer_section_2 {
        @include flex-col;
        align-items: flex-start;
    }
    #footer_icons {
        @include flex-row;
        justify-content: space-between;
    }
    .footer_svg {
        text-decoration: none;
        color: $third;
        margin: 0 2em 1em 0;
        transition: all .3s ease;
    }
    .footer_svg:hover {
        color: $second;
        transition: all .3s ease;
    }
    #footer_email {
        @include poppinsreg;
        font-size: .9em;
        text-decoration: none;
        color: $third;
        transition: all .3s ease;
    }
    #footer_email:hover {
        color: $second;
        transition: all .3s ease;
    }
    #top_btn {
        position: fixed;
        right: 30px;
        bottom: 20px;
        color: $second;
        cursor: pointer;
        z-index: 98;
        transition: all .3s ease;
    }
    #top_btn:hover {
        transform: translateY(-10px);
        transition: all .3s ease;
    }
}
