* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  background-color: #FFBAAB;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
}
body #navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100px;
  top: 0;
  left: 0;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 99;
  background: #161718;
}
body #nav_name {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
  color: #FFBAAB;
}
body .nav_link {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;
  color: #FFBAAB;
  padding: 0 15px;
  transition: all 0.3s ease;
}
body .nav_link:hover {
  color: #FBFBFB;
  transition: all 0.3s ease;
}
body #nav_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
body .nav_icon {
  text-decoration: none;
  padding: 0 15px;
  color: #FFBAAB;
  transition: all 0.3s ease;
}
body .nav_icon_svg:hover {
  color: #FBFBFB;
  transition: all 0.3s ease;
}
body #header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  background: #161718 url(media/blob.png) no-repeat 50% 100%;
  background-size: 100%;
  background-attachment: fixed;
}
body #header_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body #header_text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}
body #header_title {
  font-family: "Poppins";
  font-weight: 400;
  color: #FBFBFB;
  max-width: 40%;
  text-align: center;
  font-size: 2em;
  line-height: 1.2em;
}
body #header_links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1em;
}
body #header_link_work {
  text-decoration: none;
  color: #FBFBFB;
  padding: 5px;
  transition: all 0.3s ease;
}
body #header_link_work:hover {
  color: #FFBAAB;
  transition: all 0.3s ease;
}
body #header_link_contact {
  text-decoration: none;
  color: #FFBAAB;
  padding: 5px;
  transition: all 0.3s ease;
}
body #header_link_contact:hover {
  color: #FBFBFB;
  transition: all 0.3s ease;
}
body #scroll_mouse {
  text-decoration: none;
  color: #FFBAAB;
  margin: 5% auto 0 auto;
  width: 42px;
  transition: all 0.3s ease;
  animation: scroll 3s infinite linear;
}
@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    transform: translateY(30px);
    opacity: 1;
  }
  75% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
body #scroll_mouse:hover {
  color: #F2EFE9;
  transition: all 0.3s ease;
}
body #work {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  max-width: 100%;
  padding: 8% 0 0 5%;
  background-color: #161718;
}
body #work_header {
  font-family: "Poppins";
  font-weight: 700;
  color: #F2EFE9;
  font-size: 1.5em;
}
body #work_section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto 60px;
}
body .work_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
body .work_post {
  cursor: pointer;
  position: relative;
  padding: 20px;
  margin: 0;
}
body .work_image {
  display: block;
  width: 400px;
  height: auto;
  object-fit: cover;
}
body .work_overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(22, 23, 24, 0.7);
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
}
body .work_image_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins";
  font-weight: 700;
  color: #FFBAAB;
  font-size: 1em;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
}
body .work_post:hover .work_overlay {
  opacity: 1;
  transition: all 0.3s ease;
}
body .work_post:hover .work_image_text {
  opacity: 1;
  transition: all 0.3s ease;
}
body #tools {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
  padding: 8% 0 0 5%;
  background: #FFBAAB;
}
body #tools_header {
  font-family: "Poppins";
  font-weight: 700;
  color: #161718;
  width: 1200px;
  font-size: 1.5em;
  margin: 0;
}
body #tools_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}
body #tools_list {
  color: #161718;
  border-radius: 20px;
  padding: 5% 10%;
  margin: 60px auto;
}
body #contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80vh;
  max-width: 100%;
  justify-content: space-between;
  padding: 8% 0 0 5%;
  margin: 0;
  background: #161718;
}
body .contact_wrap {
  width: 1200px;
  margin: 0 auto;
}
body .text_form_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
body #contact_header {
  font-family: "Poppins";
  font-weight: 700;
  color: #F2EFE9;
  font-size: 1.5em;
  margin: 0;
}
body .contact_text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 2em;
  color: #F2EFE9;
  padding: 5px 0;
  margin: 0;
}
body #contact_icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  padding: 50px 0 20px 0;
}
body .contact_svg {
  text-decoration: none;
  color: #FFBAAB;
  transition: all 0.3s ease;
}
body .contact_svg:hover {
  color: #F2EFE9;
  transition: all 0.3s ease;
}
body #contact_email {
  font-family: "Poppins";
  font-weight: 400;
  color: #FFBAAB;
  text-decoration: none;
  font-size: 1em;
  transition: all 0.3s ease;
}
body #contact_email:hover {
  color: #F2EFE9;
  transition: all 0.3s ease;
}
body #form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #FBFBFB;
  margin: 0 10% 0 0;
  border-radius: 30px;
  width: 400px;
  height: 500px;
  box-shadow: 0 0 15px rgba(22, 23, 24, 0.5);
}
body #form_title {
  font-family: "Poppins";
  font-weight: 700;
  color: #161718;
  font-size: 1.3em;
}
body .input {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.8em;
  color: #161718;
  padding: 10px;
  margin: 10px auto;
  border: none;
  border-radius: 15px;
  background: #F2EFE9;
  width: 80%;
}
body #textarea {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.8em;
  color: #161718;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 15px;
  background: #F2EFE9;
  width: 80%;
  height: 160px;
}
body #send_btn {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1em;
  color: #161718;
  padding: 10px 25px;
  margin: 20px auto 30px auto;
  border: none;
  border-radius: 50px;
  background-color: #FFBAAB;
  cursor: pointer;
  transition: all 0.3s ease;
}
body #send_btn:hover {
  background-color: #FFD3B5;
  transition: all 0.3s ease;
}
body #footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  width: 100%;
  background-color: #161718;
  margin-top: 20em;
  padding: 0 15%;
}
body #footer_section_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
body #footer_name {
  font-family: "Poppins";
  font-weight: 700;
  text-decoration: none;
  color: #F2EFE9;
  font-size: 1.7em;
  margin: 0;
}
body #footer_divider {
  border-left: 1px solid rgba(242, 239, 233, 0.5);
  height: 7em;
  margin: 0 2em;
}
body #footer_menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
body #footer_menu_links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
body .footer_link, body #footer_repo {
  font-family: "Poppins";
  font-weight: 400;
  text-decoration: none;
  color: rgba(242, 239, 233, 0.5);
  font-size: 0.9em;
  margin: 0.2em;
  text-decoration: none;
  transition: all 0.3s ease;
}
body .footer_link:hover {
  color: #F2EFE9;
  transition: all 0.3s ease;
}
body #footer_repo:hover {
  color: #F2EFE9;
  transition: all 0.3s ease;
}
body #footer_section_2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
body #footer_icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .footer_svg {
  text-decoration: none;
  color: #F2EFE9;
  margin: 0 2em 1em 0;
  transition: all 0.3s ease;
}
body .footer_svg:hover {
  color: #FFBAAB;
  transition: all 0.3s ease;
}
body #footer_email {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.9em;
  text-decoration: none;
  color: #F2EFE9;
  transition: all 0.3s ease;
}
body #footer_email:hover {
  color: #FFBAAB;
  transition: all 0.3s ease;
}
body #top_btn {
  position: fixed;
  right: 30px;
  bottom: 20px;
  color: #FFBAAB;
  cursor: pointer;
  z-index: 98;
  transition: all 0.3s ease;
}
body #top_btn:hover {
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

/*# sourceMappingURL=style.css.map */
