* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  background-color: #e3e7d3;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
}
body #navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100px;
  top: 0;
  left: 0;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 99;
}
body #nav_name {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 2.6em;
  text-decoration: none;
  color: #c32f27;
  letter-spacing: -1px;
  padding-right: 700px;
}
body .nav_link {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;
  color: #c32f27;
  letter-spacing: -1px;
  padding: 0 15px;
  transition: all 0.3s ease;
}
body .nav_link:hover {
  color: #f9f6ea;
  transition: all 0.3s ease;
}
body #nav_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
body .nav_icon {
  text-decoration: none;
  padding: 0 15px;
  color: #c32f27;
  transition: all 0.3s ease;
}
body .nav_icon .nav_icon_svg:hover {
  color: #f9f6ea;
  transition: all 0.3s ease;
}
body #header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  background: #302b27 url(media/loop.svg) no-repeat 20% 0%;
}
body #header_title {
  font-family: "Epilogue";
  font-weight: 400;
  color: #f9f6ea;
  max-width: 40%;
  text-align: center;
  font-size: 2em;
  line-height: 1.2em;
}
body #header_links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 1em;
}
body #header_link_work {
  text-decoration: none;
  color: #f9f6ea;
  padding: 5px;
  transition: all 0.3s ease;
}
body #header_link_work:hover {
  color: #c32f27;
  transition: all 0.3s ease;
}
body #header_link_contact {
  text-decoration: none;
  color: #c32f27;
  padding: 5px;
  transition: all 0.3s ease;
}
body #header_link_contact:hover {
  color: #f9f6ea;
  transition: all 0.3s ease;
}
body #work {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  max-width: 100%;
  padding: 8% 0 0 5%;
  margin-bottom: 10%;
}
body #work_header {
  font-family: "Poppins";
  font-weight: 700;
  color: #302b27;
  font-size: 1.5em;
}
body #work_section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}
body .work_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
body .work_post {
  cursor: pointer;
}
body .work_image {
  display: block;
  width: 400px;
  height: auto;
  object-fit: cover;
}
body #contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #c32f27;
  height: 100vh;
  max-width: 100%;
  justify-content: space-between;
  padding: 8% 0 0 5%;
  margin: 0;
}
body .contact_wrap {
  width: 1200px;
  margin: 0 auto;
}
body .text_form_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
body #contact_header {
  font-family: "Poppins";
  font-weight: 700;
  color: #fecdaa;
  font-size: 1.5em;
  margin: 0;
}
body .contact_text {
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 2em;
  color: #fecdaa;
  padding: 5px 0;
  margin: 0;
}
body #contact_icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  padding: 70px 0 20px 0;
}
body .contact_svg {
  text-decoration: none;
  color: #f9f6ea;
  transition: all 0.3s ease;
}
body .contact_svg:hover {
  color: #fecdaa;
  transition: all 0.3s ease;
}
body #contact_email {
  font-family: "Epilogue";
  font-weight: 400;
  color: #f9f6ea;
  text-decoration: none;
  font-size: 0.9em;
  transition: all 0.3s ease;
}
body #contact_email:hover {
  color: #fecdaa;
  transition: all 0.3s ease;
}
body #form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #f9f6ea;
  padding: 30px;
  margin: 0;
  border-radius: 10px;
  width: 400px;
  height: 100%;
}
body #form_title {
  font-family: "Epilogue";
  font-weight: 700;
  color: #302b27;
  font-size: 1.3em;
}
body .input {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.8em;
  color: #302b27;
  padding: 10px;
  margin: 10px auto;
  border: none;
  border-radius: 15px;
  background: #e3e7d3;
  width: 90%;
}
body #textarea {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.8em;
  color: #302b27;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 15px;
  background: #e3e7d3;
  width: 90%;
  height: 160px;
}
body #send_btn {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1em;
  color: #f9f6ea;
  padding: 10px 25px;
  margin-top: 20px;
  border: none;
  border-radius: 50px;
  background-color: #c32f27;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
